<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleCMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsoleCMD.Properties.Settings>
            <setting name="WorkingDirectoryName" serializeAs="String">
                <value>ToyOS</value>
            </setting>
            <setting name="FileSystemDirectoryName" serializeAs="String">
                <value>FileSystemRoot</value>
            </setting>
            <setting name="ApplicationsDirectoryName" serializeAs="String">
                <value>Applications</value>
            </setting>
            <setting name="UserDocumentsDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExtensionForFileWithoutExtension" serializeAs="String">
                <value>deeffwe</value>
            </setting>
        </ConsoleCMD.Properties.Settings>
    </userSettings>
</configuration>