<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConsoleCMD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FileSystemEntities" connectionString="metadata=res://*/Resources.Connection.Database.csdl|res://*/Resources.Connection.Database.ssdl|res://*/Resources.Connection.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E3V6OPT\SQLEXPRESS;initial catalog=NewFileSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ConsoleCMD.Properties.Settings>
      <setting name="WorkingDirectoryName" serializeAs="String">
        <value>ToyOS</value>
      </setting>
      <setting name="FileSystemDirectoryName" serializeAs="String">
        <value>FileSystemRoot</value>
      </setting>
      <setting name="ApplicationsDirectoryName" serializeAs="String">
        <value>Applications</value>
      </setting>
      <setting name="UserDocumentsDirectoryPath" serializeAs="String">
        <value />
      </setting>
    </ConsoleCMD.Properties.Settings>
  </userSettings>
</configuration>