USE [fs]
GO
/****** Object:  Table [dbo].[Directory]    Script Date: 14.01.2023 14:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[IconId] [int] NULL,
 CONSTRAINT [PK_Directory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 14.01.2023 14:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Extension] [varchar](3) NOT NULL,
	[ParentId] [int] NOT NULL,
	[IconId] [int] NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Icon]    Script Date: 14.01.2023 14:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icon](
	[Id] [int] IDENTITY(4,1) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Icon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Directory] ON 

INSERT [dbo].[Directory] ([Id], [Name], [ParentId], [IconId]) VALUES (1, N'Root', NULL, NULL)
INSERT [dbo].[Directory] ([Id], [Name], [ParentId], [IconId]) VALUES (2, N'Folder1', 1, NULL)
INSERT [dbo].[Directory] ([Id], [Name], [ParentId], [IconId]) VALUES (3, N'Folder2', 2, NULL)
SET IDENTITY_INSERT [dbo].[Directory] OFF
GO
SET IDENTITY_INSERT [dbo].[File] ON 

INSERT [dbo].[File] ([Id], [Name], [Extension], [ParentId], [IconId]) VALUES (1, N'program', N'py', 2, NULL)
SET IDENTITY_INSERT [dbo].[File] OFF
GO
SET IDENTITY_INSERT [dbo].[Icon] ON 

SET IDENTITY_INSERT [dbo].[Icon] OFF
GO
ALTER TABLE [dbo].[Directory]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Directory] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Directory] ([Id])
GO
ALTER TABLE [dbo].[Directory] CHECK CONSTRAINT [FK_Directory_Directory]
GO
ALTER TABLE [dbo].[Directory]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Icon] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icon] ([Id])
GO
ALTER TABLE [dbo].[Directory] CHECK CONSTRAINT [FK_Directory_Icon]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Directory] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Directory] ([Id])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_Directory]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_Icon] FOREIGN KEY([IconId])
REFERENCES [dbo].[Icon] ([Id])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_Icon]
GO
